<div class="input-width" appearance="outline" >
  <!-- <mat-label>{{ label }}</mat-label> -->
  <div class="d-flex">
    <input
    [matAutocomplete]="auto"
      class="field"
      #searchBox
      matInput
      placeholder="Hero search"
      type="text"
      (input)="search(searchBox.value)"
    />

   <button
      mat-icon-button
      matSuffix
      *ngIf="searchBox.value"
      (click)="searchBox.value = ''"
    >
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <mat-autocomplete
    #auto="matAutocomplete"
    (optionSelected)="onSelected($event); searchBox.value = ''"
  >
    <mat-option *ngFor="let hero of heroes$ | async" [value]="hero">
      {{ hero.name }}
    </mat-option>
  </mat-autocomplete>
</div>
